<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <title>GopStop | Forum</title>

    <!-- Bootstrap core CSS -->

    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}?v=0.0.1" rel="stylesheet">

    <link type="text/css" href="{% static 'fonts/css/font-awesome.min.css' %}?v=0.0.1" rel="stylesheet">
    <link type="text/css" href="{% static 'css/animate.min.css' %}?v=0.0.1" rel="stylesheet">



    <style type="text/css">
        video#bgvid {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            transform: translateX(-50%) translateY(-50%);
            background-size: cover;
            transition: 1s opacity;
        }
    </style>
</head>

<body style="background:#F7F7F7;">
        <div>
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>

            <div id="wrapper">
                <div id="login" class="animate form">
                    <section class="login_content">
                        {% if not send %}
                            <form method="post">
                                <h2 style="color: white">Changer votre mot de passe</h2>
                                {% csrf_token %}
                                {% for field in form %}
                                <div>
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <input type="submit" class="btn btn-default submit" value="Enregistrer">
                                <div class="clearfix"></div>
                                <div class="separator"></div>
                            </form>
                            <!-- form -->
                        {% else %}
                            <h2 style="color: white">{{content}}</h2>
                        {% endif %}
                    </section>
                    <!-- content -->
                </div>
            </div>
        </div>
    </body>
    </html>