{% extends "forum/base.html" %}
{% load auth_extras %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">

  <section class="content">
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <!-- POST -->
          <div class="post">
            <form  action="{% url 'forum:login' %}" class="form" method="post">
              {% csrf_token %}
              <div class="postinfotop">
                <h2>Connexion</h2>
              </div>
              <!-- acc section -->
              <div class="accsection">
                <div class="acccap">
                  <div class="userinfo pull-left">&nbsp;</div>
                  <div class="clearfix"></div>
                </div>
                <div class="topwrap">
                  <div class="userinfo pull-left"></div>
                  <div class="posttext pull-left">
                    <div>
                      <input
                        type="text"
                        placeholder="Nom d'utilisateur"
                        class="form-control"
                        required
                        name="username" id="username"
                      />
                    </div>
                    <div>
                      <input
                        type="password"
                        placeholder="Mot de passe"
                        class="form-control"
                        required
                        name="password" id="password"
                      />
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <!-- acc section END -->

              

                <div class="pull-right postreply">
                  <div class="pull-left smile">
                    <a href="#"><i class="fa fa-smile-o"></i></a>
                  </div>
                  <div class="pull-left">
                    
                    <button type="submit" class="btn btn-primary">
                      Connexion
                    </button>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
              </div>
            </form>
          </div>
          <!-- POST -->
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
