{% extends "forum/base.html" %}
{% load auth_extras %}
{% load static %}
{% load staticfiles %}
{% block content %}
        
        <section class="content">
            <br>
            <br>
            <br>
            <section class="content"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <!-- POST -->
                            <div class="post beforepagination">
                            <div class="topwrap">
                                <div class="userinfo pull-left">
                                    
                                </div>
                            </div>
                            
                                <div class="posttext pull-left">
                                    <div class="avatar">
                                    <img src="/media/{{post_user_profile_pic}}" width="40" height="40">
                                    <p style="font-weight:bold;">{{post.user}}:</p>
                                    {% if request.user == post.user %}
                                    <div class="status green">
                                        &nbsp;
                                    </div>
                                    {% else %}
                                    <div class="status red">
                                        &nbsp;
                                    </div>
                                    {% endif %}
                                    
                                    </div>
                                    
                                    <img src="/media/{{ post.model_pic}}" alt="" width="200" height="200" />
                                    <h2>{{ post.title }}</h2>
                                    <p>
                                        {{ post.description }}
                                    </p>
                                    {% if request.user.id == post.user.id or request.user|has_group:"moderator" %}
                                    <form action="{% url 'forum:post-update' post.id %}" method="GET">
                                        {% csrf_token %}
                                        <input name="post_update" type="submit" class="btn" value="Modifier ce post">
                                    </form>
                                    <form onsubmit="return confirm('Voulez vous vraiment supprimer ce post ?');" action="{% url 'forum:post-delete' post.id %}" method="POST">
                                        {% csrf_token %}
                                        <input name="post_delete" type="submit" class="btn btn-danger" value="Supprimer ce post">
                                    </form>
                                    {% endif %}
                                </div>
                                
                                <div class="clearfix"></div>
                                
                            </div>
                            <div class="postinfobot">
                                <div class="likeblock pull-left">
                                    <a href="{% url 'forum:post-like' post.id %}" class="up"><i class="fa fa-thumbs-o-up"></i> {{like_number}}</a>
                                    <a href="{% url 'forum:post-dislike' post.id %}" class="down"><i class="fa fa-thumbs-o-down"></i> {{dislike_number}}</a>
                                </div>
                                <div class="prev pull-left">
                                    <a href="#"><i class="fa fa-reply"></i></a>
                                </div>
                                <div class="posted pull-left">
                                    <i class="fa fa-clock-o"></i>
                                    Posté le : {{post.dt_creation}}
                                    Catégorie : {{post.category}}
                                </div>
                                <div class="next pull-right">
                                    <a href="#"><i class="fa fa-share"></i></a>
                                    <a href="#"><i class="fa fa-flag"></i></a>
                                </div>
                                <div class="clearfix"></div>
                                
                            </div>
                        </div>
                        <!-- POST -->
                        <div class="paginationf">
                            <div class="pull-left">
                                <a href="#" class="prevnext"><i class="fa fa-angle-left"></i></a>
                            </div>

                            <div class="pull-left">
                                <a href="#" class="prevnext last"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- POST -->
                        {% for comment in comments %}
                        <div class="post">
                            <div class="topwrap">
                                <div class="userinfo pull-left">
                                    <div class="avatar">
                                        
                                    </div>
                                    
                                </div>
                                <div class="posttext pull-left">
                                    <p style="font-weight:bold;">{{comment.user}} :</p>
                                    <p>
                                        {{comment.description}}
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="postinfobot">
                                <!-- 
                                <div class="likeblock pull-left">
                                    <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>10</a>
                                    <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>1</a>
                                </div>
                                
                                <div class="prev pull-left">
                                    <a href="#"><i class="fa fa-reply"></i></a>
                                </div>
                                -->
                                <div class="posted pull-left">
                                    <i class="fa fa-clock-o"></i>
                                    Posté le : {{comment.dt_creation}} par {{comment.user}} 
                                </div>
                                <div class="prev pull-left">
                                {% if user.id == comment.user.id %}

                                <form  action="{% url 'forum:comment-update' post.id comment.id %}" method="POST">
                                    {% csrf_token %}
                                    <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
    
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Modifier ce commentaire</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Saisir un commentaire :</label>
                                                <textarea class="form-control" id="message-text" name="description" id="description" placeholder="{{comment.description}}">{{comment.description}}</textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input name="comment_update" type="submit" class="btn btn-primary" value="Valider">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        </div>
                                        </div>
    
                                    </div>
                                    </div>
                                    
                                </form>
                                <input type="button" value="Modifier ce commentaire" class="btn btn" data-toggle="modal" data-target="#myModal">
                                <form onsubmit="return confirm('Voulez vous vraiment supprimer ce commentaire ?');" action="{% url 'forum:comment-delete' post.id comment.id %}" method="POST">
                                        {% csrf_token %}
                                        <input name="comment_delete" type="submit" class="btn btn-danger" value="Supprimer ce commentaire">
                                </form>
                                <!-- Modal -->
                                {% elif user.id == comment.user.id or request.user|has_group:"moderator" %} 
                                <form onsubmit="return confirm('Voulez vous vraiment supprimer ce commentaire ?');" action="{% url 'forum:comment-delete' post.id comment.id %}" method="POST">
                                    {% csrf_token %}
                                    <input name="comment_delete" type="submit" class="btn btn-danger" value="Supprimer ce commentaire">
                                </form>
                                {% else %}
                                {% endif %}
                                </div>
                                <div class="clearfix"></div>
                                
                            </div>
                            
                        </div>
                        {% endfor %}
                        {% if user_is_connected %}
                        <!-- POST -->
                        <div class="post">
                                <form  action="{% url 'forum:new-comment' post.id %}" class="form" method="post">
                                {% csrf_token %}
                                
                                <div class="topwrap">
                                    <div class="userinfo pull-left">
                                        <div class="avatar">
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="posttext pull-left">
                                        <div class="textwraper">
                                            <div class="postreply">
                                                Ecrire un commentaire
                                            </div>
                                            <textarea name="description" id="description" placeholder="Ecrire votre commentaire ici"></textarea>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="postinfobot">
                                
                                    
                                    <div class="pull-right postreply">
                                        <div class="pull-left">
                                            <button type="submit" class="btn btn-primary">Ajouter le commentaire</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                        <!-- POST -->
                    </div>
                </div>
            </div>
        </section>
    </section>
            
            
                 
{% endblock %}
