{% extends "forum/base.html" %}
{% load auth_extras %}
{% load static %}
{% load staticfiles %}
{% block content %}
<section class="content">
<br>
<br>
<br>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <!-- POST -->
                    <div class="post">
                        <form enctype="multipart/form-data" action="{% url 'forum:post-update' post.id %}" class="form newpost" method="post">
                            {% csrf_token %}
                            <div class="topwrap">
                                <div class="userinfo pull-left">
                                   
                                </div>
                                <div class="posttext pull-left">
                                    <div>
                                        <p>Titre : </p>
                                        <input name="title" id="title" type="text" placeholder="{{post.title}}" value="{{post.title}}" class="form-control" required/>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p>Catégorie :</p>
                                            <select selected="{{category}}" name="category" id="category"  class="form-control" required >
                                                {% for category in categories %}
                                                <option value="{{category.id}}">{{category}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <p>Description :</p>
                                        <textarea name="description" id="description" placeholder="{{post.description}}"  class="form-control" required >{{post.description}}</textarea>
                                    </div>
                                    <div class="pull-left">
                                        <button type="submit" class="btn btn-primary">Post</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    <!-- POST -->
                    
                    <!-- POST -->
                </div>
            </div>
        </div>
        
    </section>

{% endblock %}