{% extends "forum/base.html" %}
{% load auth_extras %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <section class="content">
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <!-- POST -->
                    <div class="post">
                        


                            <div class="postinfobot">

                                <div class="notechbox pull-left">
                                    <input type="checkbox" name="note" id="note" class="form-control" />
                                </div>

                                <div class="pull-left lblfch">
                                    <label for="note"> I agree with the Terms and Conditions of this site</label>
                                </div>

                                <div class="pull-right postreply">
                                    <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                                    <div class="pull-left"><button type="submit" class="btn btn-primary">Sign Up</button></div>
                                    <div class="clearfix"></div>
                                </div>


                                <div class="clearfix"></div>
                            </div>
                        </form>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Join Today</legend>
                                {{ form.as_p }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit"> Sign up</button>
                            </div>
                        </form>
                    </div><!-- POST -->






                </div>
            
            </div>
        </div>

    </section>
</div>
{% endblock %}

       