<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="e retail, e-retail, unexpected shopping, retail intelligence, beacons retail, concept retail, magasin du futur, shopping experience, taux d’attraction, magasin technologie, approvisionnement, magasin, deep machine learning, solution supply, textile retailers, supply chain impact, solutions, machine learning, expert, comptage-de-personnes, les-avantages-de-la-retail-intelligence, retail solution, retail intelligence, audience digital signage">
    <title>GopStop | Forum</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'fonts/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static 'css/app/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/icheck/flat/green.css' %}" rel="stylesheet">


    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    ​
    <style type="text/css">
    video#bgvid {  
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('{% static 'resources/app/bg_login_vid_poster.jpg' %}') no-repeat;
        background-size: cover;
        transition: 1s opacity;
    }
    </style>
</head>

<body style="background:#F7F7F7;">

    <video autoplay loop id="bgvid" muted>
        <source src="{% static 'resources/app/bg_login_vid.mp4' %}" type="video/mp4">
    </video>
    <div>
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    {% if not send %}
                        <form method="post" action="{% url 'forum:reset-password' %}">
                            <h2 style="color: white">Veuillez saisir votre adresse email</h2>

                                {% csrf_token %}
                                {% for field in form %}
                                <div>
                                    {{ field }}
                                </div>
                                {% endfor %}
                                
                                <input type="submit" class="btn btn-default submit" value="Envoyer">
                            <div class="clearfix"></div>
                        <div class="separator"></div>
                        </form>
                        <!-- form -->
                    {% else %}
                        <h2 style="color: white">Veuillez verifier votre messagerie</h2>
                        <h2 style="color: white">Un lien de réinitialisation vous a été envoyé</h2>
                    {% endif %}
                </section>
                <!-- content -->
            </div>

        </div>
    </div>

</body>

</html>