{% load auth_extras %}
{% load staticfiles %}
{% load static %}

{% if user_is_connected %}
<div class="tp-banner-container">
  <div class="tp-banner" >
      <ul>
          <!-- SLIDE  -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" ><!-- MAIN IMAGE --><img src="/media/good-moutain.jpg" height="40" alt="Computer Hope" alt="slidebg1"  data-bgfit="cover"  data-bgrepeat="no-repeat"><!-- LAYERS --></li>

          <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" ><!-- MAIN IMAGE --><img src="/media/good-moutain-23.jpg" width="200" height="40" alt="Computer Hope" alt="slidebg1"  data-bgfit="cover" data-bgrepeat="no-repeat"><!-- LAYERS --></li>
      </ul>
  </div>
</div>
<div class="headernav">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="{% url 'forum:home' %}"><img src="{% static 'images/logo.jpg' %}" alt=""  /></a></div>
                <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                    <div class="wrap">
                        <form action="{% url 'forum:post-search' %}" method="post" class="form">
                            {% csrf_token %}
                            <div class="pull-left txt"><input name="recherche" id="recherche" type="text" class="form-control" placeholder="Rechercher un post"></div>
                            <div class="pull-right"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                    <div class="stnt pull-left">                            
                        <form action="{% url 'forum:new-post' %}" method="GET" class="form">
                            {% csrf_token %}
                            <button class="btn btn-primary">Nouveau Post</button>
                        </form>
                    </div>
                    <div class="env pull-left"><i class="fa fa-paper-plane"></i></div>

                    <div class="avatar pull-left dropdown">
                        <a data-toggle="dropdown" href="#"><div class="env pull-left"><i class="fa fa-user"></i></div></a> <b class="caret"></b>
                        <div class="status green">&nbsp;</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'forum:user-profile' %}">Mon profil ({{user.get_username}})</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-2" href="{% url 'forum:user-history' %}">Mon historique de posts likés</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-3" href="{% url 'forum:user-posts' %}">Mes posts</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-4" href="{% url 'forum:logout' %}">Deconnexion</a></li>
                        </ul>
                    </div>
                    

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% else %}
<div class="tp-banner-container">
    <div class="tp-banner" >
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" ><!-- MAIN IMAGE --><img src="/media/good-moutain.jpg" width="200" height="40" alt="Computer Hope" alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"><!-- LAYERS --></li>
        </ul>
    </div>
  </div>
<div class="headernav">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo ">
          <a href="{% url 'forum:home' %}"><img src="{% static 'images/logo.jpg' %}" alt=""/></a>
        </div>
        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
            <div class="wrap">
                <form action="{% url 'forum:post-search' %}" method="post" class="form">
                    {% csrf_token %}
                    <div class="pull-left txt"><input name="recherche" id="recherche" type="text" class="form-control" placeholder="Rechercher un post"></div>
                    <div class="pull-right"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
          <div class="stnt pull-left">
            <form action="{% url 'forum:login' %}" method="get" class="form">
              {% csrf_token %}
              <button class="btn btn-primary">Connexion</button>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
 