{% extends "forum/base.html" %}
{% load auth_extras %}
{% load static %}
{% load staticfiles %}
{% block content %}
<section class="content"><hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="">{{request.user}}</h1>
            <button type="button" data-toggle="modal" data-target="#updateUserPassword" class="btn btn-success">Modifier mot de passe </button>
            <button type="button" data-toggle="modal" data-target="#updateUserInfoModal" class="btn btn-info">Modifier mes informations personnels </button>
            <button type="button" data-toggle="modal" data-target="#deleteUserAccount"  class="btn btn-danger">Supprimer mon compte </button>
            <br>
        </div>
        {% if has_model_pic == False %}
        <div  class="col-sm-2">
        <form enctype="multipart/form-data" action="{% url 'forum:user-add-profile-picture' %}" class="form newpost" method="post">
            {% csrf_token %}
            
                <p>Image de profile : </p>
                <input type="file" name="model_pic" id="model_pic" accept=".jpg, .png, .jpeg, .gif|images/*" required />
                <input type="submit" formenctype="multipart/form-data" class="btn btn-primary" value="Valider">
        </form>
        </div>
        {% else %}
        <div class="col-sm-2"><img title="profile image" class="img-circle img-responsive" src="/media/{{user_profile_pic}}">
            <form enctype="multipart/form-data" action="{% url 'forum:user-add-profile-picture' %}" class="form newpost" method="post">
                {% csrf_token %}
                
                    <p>Image de profile : </p>
                    <input type="file" name="model_pic" id="model_pic" accept=".jpg, .png, .jpeg, .gif|images/*" required />
                    <input type="submit" formenctype="multipart/form-data" class="btn btn-primary" value="Valider">
            </form>
            </div>
        {% endif %}
     
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profil</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Création compte :</strong></span>{{date_joined}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Dernière connexion :</strong></span>{{last_login}}</li>
            </ul>
           <div class="panel panel-default">

            <ul class="list-group">
                <li class="list-group-item text-muted">Activité <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span>{{like_number}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> {{post_number}}</li>
            </ul>
             <div class="panel-heading">Romesh ?

                </div>
                {% if user.specialuser.is_romesh == True %}
                <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i> Oui ! Je suis romesh dans mon coeur.
                {% else %}
                <div class="panel-body"><i style="color:red" class="fa fa-times"></i> Non, je ne suis pas romesh dans mon coeur...
                {% endif %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i>

                </div>
                <div class="panel-body"><a href="{{user.specialuser.site_internet}}" target="_blank"class="">Super site :)</a> 

                </div>
            </div>
          
            
            
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">Bio de {{user}} :</div>
                <div class="panel-body"> {{user.specialuser.bio}}

                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Liste des posts</div>
                <div class="panel-body">
                  <div class="row">
                {% if post_content %}
                {% for cont in post_content %}
				<div class="col-md-4">
                    
					<div class="thumbnail">
						<img alt="300x200" src="{{ cont.post.model_pic.url}}">
						<div class="caption">
							<h3>
                                <a href="{% url 'forum:post-detail' cont.post.id %}">{{cont.post.title}}</a>
							</h3>
							<p>
                                {{cont.post.description}}
							</p>
							<p>
							
							</p>
                        </div>
                    
					</div>
                </div>
                {% endfor %}
                {% else %}
                <h4>Vous n'avez pas de post pour le moment, c'est l'occasion pour en ajouter un au super forum GOP STOP !</h4>
                {% endif %}
				
            </div>
                     
            </div>
                 
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Anecdote à propos de {{user}} : </div>
            <div class="panel-body"> {{user.specialuser.fun_fact}}
        </div>
    </div>
    </div>
    </div>



            <div id="push"></div>
        </div>
        <footer id="footer">
            
        </footer>     
    </section>
    <!-- Modal -->
    <div class="modal fade" id="updateUserPassword" tabindex="-1" role="dialog" aria-labelledby="updateUserPassword" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier mes informations personnels</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form enctype="multipart/form-data" action="{% url 'forum:user-update-password' %}"  method="post">
                {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputFirstName">Nouveau mot de passe :</label>
                            <input type="password" class="form-control" name="password" id="password" aria-describedby="pwdHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstName">Confirmer mot de passe :</label>
                            <input type="password" class="form-control" name="conf_password" id="conf_password" aria-describedby="pwdHelp" required>
                            <small id="pwdHelp" class="form-text text-muted">Saisir votre nouveau mot de passe une seconde fois.</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateUserInfoModal" tabindex="-1" role="dialog" aria-labelledby="updateUserInfoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modifier mes informations personnels</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            </div>
            <form enctype="multipart/form-data" action="{% url 'forum:user-update-information' %}"  method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputUsername">Nom d'utilisateur :</label>
                        <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="{{user.username}}" value="{{user.username}}">
                        <small id="usernameHelp" class="form-text text-muted">Nom publique que tous le monde peut voir.</small>
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Nom :</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="lastnameHelp" placeholder="{{user.last_name}}" value="{{user.last_name}}">
                        <small id="lastnameHelp" class="form-text text-muted">Votre véritable nom, accessible seulement par les modérateurs.</small>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName">Prénom :</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="firstnameHelp" placeholder="{{user.first_name}}" value="{{user.first_name}}">
                        <small id="firstnameHelp" class="form-text text-muted">Votre véritable prénom, accessible seulement par les modérateurs.</small>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName">Email :</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="{{user.email}}" value="{{user.email}}">
                    </div>
                    <div class="form-group">
                        <label for="textAreaBio">Bio : </label>
                        <textarea class="form-control" name="bio" id="bio" rows="3" placeholder="{{user.specialuser.bio}}">{{user.specialuser.bio}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="textAreaBio">Anecdote : </label>
                        <textarea class="form-control" name="fun_fact" id="fun_fact" rows="3" placeholder="{{user.specialuser.fun_fact}}">{{user.specialuser.fun_fact}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-info">Valider</button>
                </div>
            </form>
        </div>
        </div>
    
    </div>
    <div class="modal fade" id="deleteUserAccount" tabindex="-1" role="dialog" aria-labelledby="deleteUserAccount" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Supprimer mon compte</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                Etes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible, vous ne pourrez plus jamais accéder à gopstop.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <a href="{% url 'forum:user-profile-delete' %}" class="btn btn-danger">Oui, je veux supprimer mon compte</a>
            </div>
        </div>
        </div>
    </div>
{% endblock %} 