{% extends "forum/base.html" %}
{% load auth_extras %}
{% load static %}
{% load staticfiles %}
{% block content %}
        
        <section class="content">
            <br>
            <br>
            <br>
            <div   class="container">
                        <h2>Mon historique de posts likés : </h2>

                    <div class="col-lg-8 col-md-8">
                        <!-- POST -->
                        {% if post_content %}
                        {% for cont in post_content %}
                        <div class="post">
                            <div class="wrap-ut pull-left">
                                <div class="userinfo pull-left">
                                    <div class="">
                                        <img src="{{ cont.post.model_pic.url}}" alt="" width="75" height="75" />
                                        <div class="status green">
                                            &nbsp;
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="posttext pull-left">
                                    <h2><a href="{% url 'forum:post-detail' cont.post.id %}">{{cont.post.title}}</a></h2>
                                    <p>
                                        {{cont.post.description}}
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="postinfo pull-left">
                                <div class="comments">
                                    <div class="commentbg">
                                        {{cont.count}}
                                        <div class="mark"></div>
                                    </div>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    {{cont.date}}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h4>Vous n'avez pas liké de post pour le moment, c'est l'occasion pour aller en découvrir de nouveaux !</h4>
                        {% endif %}
                        <!-- POST -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xs-12">
                        <div class="pull-left">
                            <a href="#" class="prevnext"><i class="fa fa-angle-left"></i></a>
                        </div>
                        <div class="pull-left">
                            <ul class="paginationforum">
                                <li class="active"><a href="#">1</a></li>
                                <li class="hidden-xs"><a href="#">2</a></li>
                                <li class="hidden-xs"><a href="#">3</a></li>
                                <li class="hidden-xs"><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li class="hidden-xs"><a href="#">9</a></li>
                                <li class="hidden-xs"><a href="#">10</a></li>
                                <li class="hidden-xs hidden-md"><a href="#">11</a></li>
                                <li class="hidden-xs hidden-md"><a href="#">12</a></li>
                                <li class="hidden-xs hidden-sm hidden-md"><a href="#">13</a></li>
                                <li><a href="#">47</a></li>
                            </ul>
                        </div>
                        <div class="pull-left">
                            <a href="#" class="prevnext last"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}           
            


        <!-- END REVOLUTION SLIDER -->

<!-- Mirrored from forum.azyrusthemes.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2019 17:23:42 GMT -->
